{{/*
  compliance-file shortcode

  Usage:
  {{< compliance-file relpath="/path/file.pdf" text="View" >}}
  {{< compliance-file relpath="/path/file.pdf" text="Download" download="true" >}}
*/}}

{{ $relpath := .Get "relpath" }}
{{ $text := .Get "text" | default (path.Base $relpath) }}
{{ $download := .Get "download" | default "false" }}
{{ $base := .Site.Params.complianceFilesBaseUrl }}

<a href="{{ printf "%s%s" $base $relpath }}"
   {{ if eq $download "true" }}
     download
   {{ else }}
     target="_blank" rel="noopener"
   {{ end }}>
   {{ $text }}
</a>
