{{ $family := .Get "family" }}
<div class="panel-default downloadbox ">
    <div id="dvrow" class="row">
        {{ $ParentPathMultilang := .Page.RelPermalink  }}
        {{ range (where ( where $.Site.Pages.ByWeight ".Section" $family ) ".Params.page_type" "!=" "single_release_page")  }}
                {{ $SectionPath := .RelPermalink  }}
                {{ $ParentPath := print "/" $family "/" }}  
               
                {{ if not (eq $SectionPath $ParentPathMultilang )}}
                
                        {{ if eq $family "corporate" }}    
                            {{ if or ( (eq $SectionPath "/corporate/success-stories/")) ( eq $SectionPath "/corporate/brochures/") }}
                                <div class="col-md-12">
                                    <div class="panel-body downloadfilebody">
                                        <div class="product">
                                            <div class="col-sm-1">
                                                <img class="product-icon" src="{{ replaceRE "(\\s)" ""  (.Params.family_listing_page_iconurl) }}">
                                            </div>
                                            <div class="col-sm-11">
                                                <h3 class="product-title"><a href="{{ .Permalink }}">{{ .Params.family_listing_page_title }}</a></h3>
                                                <p>{{.Params.family_listing_page_description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{end}}
                        {{else}}
                                {{ if not (eq .Params.hide_homepage "yes") }}
                                <div class="col-md-12">
                                    <div class="panel-body downloadfilebody">
                                        <div class="product">
                                            <div class="col-sm-1">
                                                <img class="product-icon" src="{{ replaceRE "(\\s)" ""  (.Params.family_listing_page_iconurl) }}">
                                            </div>
                                            <div class="col-sm-11">
                                                <h3 class="product-title"><a href="{{ .Permalink }}">{{ .Params.family_listing_page_title }}</a></h3>
                                                <p>{{.Params.family_listing_page_description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{ end }}
                        {{ end }}
                {{ end }}
        {{ end }}
    </div>
</div>