<div class="relative {{ .classes }} weight-{{ .context.Weight }}">
  <div class="bg-white mb2 pa3 pa4-l gray">
    {{ if eq .context.Section "news" }}
      <date class="f6 db" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ .context.Date.Format "January 2, 2006" }}
      </date>
    {{ end }}


    {{ $packages := slice }}
    {{ $t := .context.Site.GetPage (printf "/%s" .context.Type) }}
      {{ range  ($t.GetTerms  (printf "%s" $t.Params.Affiliatedtaxonomy)) }}
          {{ $package := dict }}
          {{ $packageId := .Page.Data.Term }}
          {{ $parsedEvent := dict }}
          {{ $package = merge $package (dict "packageId" $packageId) }}

          {{ $url := (printf "/data/%s/%s.json" $.context.Params.dataFolder $packageId)}}
            {{ range $index, $comments := (getJSON $url)  }}

                {{ if eq $index "releasehDate" }}
                    {{ $package = merge $package (dict $index (time $comments)) }}
                {{ else }}
                  {{ $package = merge $package (dict $index  $comments) }}
                {{ end }}

          {{ end }}

              {{ $packages = $packages | append $package }}

        {{ end }}



<date class="f6 db" datetime="{{.Date.Format  "Monday, Jan 2, 2006" }}">

  {{ range  first 1 (sort $packages ".releasehDate" "desc") }}
        last updated :: {{ dateFormat "January 2, 2006" .releasehDate }}  ::  {{ .groupId }} ::  {{ .artifactId }} ::  {{ .version }}



        <!-- Calculate the age in days and months -->
        {{ $ageDays := div (sub now.Unix .releasehDate.Unix) 86400 }}
        {{ $ageMonths := div (sub now.Unix .releasehDate.Unix) 2592000 }}

        <!-- Published today -->
        {{ if eq $ageDays 0 }}

            <p>Published today.</p>

        <!-- Published in the last 31 days -->
        {{ else if lt $ageDays 31 }}

            <p>Published {{ $ageDays }}
                {{ cond (eq $ageDays 1) "day" "days"}}
                ago.</p>

        <!-- Published month(s) ago -->
        {{ else }}

            <p>Published {{ $ageMonths }}
                {{ cond (eq $ageMonths 1) "month" "months" }}
                ago.</p>

        {{ end }}


  {{ end }}

total packages :: {{ len  $packages }}




</date>



    <h1 class="near-black f3">
      <a href="{{ .context.RelPermalink }}" class="link primary-color dim">
      {{- if eq .context.Section "functions" -}}
        {{ .context.LinkTitle }}
      {{- else -}}
        {{ .context.Title }}
      {{- end -}}
      </a>
    </h1>


    <div class="lh-copy links">
      {{ if .context.Params.description  }}
          {{ .context.Params.description | markdownify }}
        {{ else }}
          {{ .context.Summary  }}
      {{ end }}

        <a href="{{ .context.RelPermalink }}" class="f6 mt2 db link primary-color dim">
          Read More &raquo;
        </a>

    </div>


  </div>
</div>
