{{ $section_to_display := .section_to_display  }}
<section class="main-container page-1">
        <div class="row">

          <aside class="col-md-3 col-md-push-9">
                  <div class="profile-box">
                    <div class="profileimgbox"><img src="/img/conholdateprofile.png" alt="Avatar" width="100%"></div>
                    <div class="statistics">
                        <div class="titlebox">Groupdocs</div>
                        <div class="description">Total Packages:&nbsp;<div class="value"> {{ len .context.Site.RegularPages }}</div>
                          </div>
                      </div>
                  </div>
                </aside>


            <article class="col-md-9 col-md-pull-3">
                <div class="profile-title">
                    <h1>Groupdocs</h1>
                </div>
                <hr class="profile-title-divider">
                <div class="list-packages" role="list">

                  {{ range $section_to_display }}

                  {{ $packages := slice }}
                  {{ $t := . }}

                    {{ range .Page.Params.packages_refs }}
                        {{ $package := dict }}
                        {{ $packageId := . }}
                        {{ $parsedEvent := dict }}
                        {{ $package = merge $package (dict "packageId" $packageId) }}
                        {{ $url := (printf "/data/repository/%s/%s.json" $t.Params.dataFolder $packageId)}}
                        {{ range $index, $comments := (getJSON $url)  }}

                            {{ if eq $index "releasehDate" }}
                                {{ $package = merge $package (dict $index (time $comments)) }}
                            {{ else }}
                              {{ $package = merge $package (dict $index  $comments) }}
                            {{ end }}

                      {{ end }}

                      {{ $packages = $packages | append $package }}

                    {{ end }}


                    <div class="package">
                        <div class="row">
                            <div class="col-sm-1 hidden-xs hidden-sm col-docs-icon">
                                <img class="docs-icon img-responsive"  loading="lazy" aria-hidden="true" alt="packages" src="{{.Site.BaseURL}}img/groupdocs_{{ lower (replace  (replace  .RelPermalink "/" "") "-" "_") }}-for-java.png">
                            </div>
                            <div class="col-sm-11">
                                <div class="docs-header">
                                    <h2><a class="docs-title" href="{{ .RelPermalink }}"> {{ with $.context.Data.Singular }}{{ . | humanize }}: {{ end }}{{ .LinkTitle }} <span>for Java</span></a></h2>
                                </div>
                                <ul class="docs-list">
                                  <!--
                                    <li>
                                        <span class="icon-text">
                                            <i class="fa fa-download" aria-hidden="true"></i>
                                            6,745,635 total downloads
                                        </span>
                                    </li>
                                    -->
                                {{ range  first 1 (sort $packages ".releasehDate" "desc") }}
                                    <li>
                                        <span class="icon-text">
                                          <a href="{{ $t.Page.RelPermalink }}{{ .id }}/">
                                            <i class="fa fa-history" aria-hidden="true"></i>

                                                    <!-- Calculate the age in days and months -->
                                                    {{ $ageDays := div (sub now.Unix .releasehDate.Unix) 86400 }}
                                                    {{ $ageMonths := div (sub now.Unix .releasehDate.Unix) 2592000 }}

                                                    <!-- Published today -->
                                                    {{ if eq $ageDays 0 }}

                                                        <span>Last Published today.</span>

                                                    <!-- Published in the last 31 days -->
                                                    {{ else if lt $ageDays 31 }}

                                                        <span>Last Published {{ $ageDays }}
                                                            {{ cond (eq $ageDays 1) "day" "days"}}
                                                            ago.</span>

                                                    <!-- Published month(s) ago -->
                                                    {{ else }}

                                                        <span>Last Published {{ $ageMonths }}
                                                            {{ cond (eq $ageMonths 1) "month" "months" }}
                                                            ago.</span>

                                                    {{ end }}




                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <span class="icon-text">
                                          <a href="{{ $t.Page.RelPermalink }}{{ .id }}/">
                                            <i class="fa fa-flag" aria-hidden="true"></i>
                                            Latest version: <span class="text-nowrap">{{ .version }} </span>
                                            </a>
                                        </span>
                                    </li>



                                {{ end }}

                                  {{ if .Keywords }}

                                    <li class="docs-tags">
                                        <span class="icon-text">
                                            <i class="fa fa-tags" aria-hidden="true"></i>

                                             {{ range first 5 .Keywords }}
                                              <a href="https://search.groupdocs.com/q/{{ lower  (replace . " " "-") }}.html" title="Search for docx">{{.}}</a>
                                            {{ end }}
                                        </span>
                                    </li>

                                {{ end }}

                                </ul>
                                <div class="docs-details">
                                  {{ if .Params.description  }}
                                      {{ .Params.description | markdownify }}
                                    {{ else }}
                                      {{ .Summary  }}
                                  {{ end }}
                                  <a href="{{ .RelPermalink }}" class="f6 mt2 db link primary-color dim">
                                    Read More &raquo;
                                  </a>
                                </div>
                            </div>
                        </div>
                    </div>


                  {{ end }}

                </div>

        </article></div></section>
