{{ $section_to_display := .section_to_display  }}

        {{ $releases := slice }}
          {{ range .context.Params.packages_refs }}
            {{ $release := dict }}
            {{ $releaseId := . }}

            {{ $parsedEvent := dict }}
            {{ $release = merge $release (dict "releaseId" $releaseId) }}

              {{ $url := (printf "/data/repository/%s/%s.json" $.context.Params.dataFolder $releaseId)}}
                {{ range $index, $comments := (getJSON $url)  }}

                    {{ if eq $index "releasehDate" }}
                        {{ $release = merge $release (dict $index   (time $comments)) }}
                    {{ else }}
                      {{ $release = merge $release (dict $index  $comments) }}
                    {{ end }}

              {{ end }}

                  {{ $releases = $releases | append $release }}

              {{ end }}


<section role="main" class="main-container page-package-details">
        <div class="row">

          <div class="col-sm-9 package-details-main">
            {{ $p := . }}
            {{ range  first 1 (sort $releases ".releasehDate" "desc") }}
            <div class="package-header">
                              <div class="package-title">
                                <h1>
                                    <span class="pull-left">
                                    <!-- <img class="package-icon img-responsive" aria-hidden="true" alt=""
                                       src="/res_repo/img/groupdocs{{ lower (replace  (replace  $.context.RelPermalink "/" "_") "_java_" "-for-java") }}.png" />
                                    -->
                                    {{ if $.context.Page.IsTranslated }}
                                      {{$lang := print "/" $.context.Language.Params.languageCode}}
                                         <img class="package-icon img-responsive" aria-hidden="true" alt=""
                                            src="/res_repo/img/aspose{{ lower (replace (replace (replace  $.context.RelPermalink $lang "") "/" "_") "_java_" "-for-java") }}.png" />
                                    {{ else }}
                                    <img class="package-icon img-responsive" aria-hidden="true" alt=""
                                       src="/res_repo/img/aspose{{ lower (replace  (replace  $.context.RelPermalink "/" "_") "_java_" "-for-java") }}.png" />
                                    {{ end }}
                                    </span>

                                    <span class="title" tabindex="0">



                                      <a href="{{ $.context.RelPermalink }}" title="{{ with $p.context.Data.Singular }}{{$p.Title | humanize }}: {{ end }}{{ $p.context.Title }}">
                                      {{ with $p.context.Data.Singular }}{{$p.LinkTitle | humanize }}: {{ end }}{{ $p.context.LinkTitle }} {{ if not (strings.Contains $p.context.LinkTitle "for Java") }} <span>for Java</span> {{ end }}
                                      </a>

                                    </span>
                                    <span class="version-title" tabindex="0">
                                      <a href="{{ $p.Page.RelPermalink }}{{ .id }}/" title="latest">
                                      {{.version}}
                                      </a>
                                    </span>
                                </h1>

                              </div>

                              <div class="tabs install-tabs">
                                 <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                       <a href="#package-manager" aria-expanded="true" id="package-manager-tab"
                                          class="package-manager-tab" aria-selected="true" aria-controls="package-manager"
                                          role="tab" data-toggle="tab"
                                          title="Switch to tab panel which contains package installation command for Package Manager">
                                       Maven
                                       </a>
                                    </li>
                                    <li role="presentation" class="">
                                       <a href="#dotnet-cli" aria-expanded="false" id="dotnet-cli-tab"
                                          class="package-manager-tab" aria-selected="false" aria-controls="dotnet-cli"
                                          role="tab" data-toggle="tab"
                                          title="Switch to tab panel which contains package installation command for .NET CLI">
                                       Gradle
                                       </a>
                                    </li>
                                    <li role="presentation" class="">
                                       <a href="#package-reference" aria-expanded="false" id="package-reference-tab"
                                          class="package-manager-tab" aria-selected="false" aria-controls="package-reference"
                                          role="tab" data-toggle="tab"
                                          title="Switch to tab panel which contains package installation command for PackageReference">
                                       Ivy
                                       </a>
                                    </li>
                                    <li role="presentation" class="">
                                       <a href="#paket-cli" aria-expanded="false" id="paket-cli-tab"
                                          class="package-manager-tab" aria-selected="false" aria-controls="paket-cli"
                                          role="tab" data-toggle="tab"
                                          title="Switch to tab panel which contains package installation command for Paket CLI">
                                       Sbt
                                       </a>
                                    </li>
                                 </ul>
                                 <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="package-manager">
                                       <div>
                                          <div class="install-script-row highlight">
                                             <pre class="install-script"
                                                id="package-manager-text"><code class="install-command-row">&lt;dependency&gt;
&lt;groupId&gt;{{ .groupId }}&lt;/groupId&gt;
&lt;artifactId&gt;{{ .artifactId }}&lt;/artifactId&gt;
&lt;version&gt;{{ .version }}&lt;/version&gt;{{ if .classifier }}
&lt;classifier&gt;{{ .classifier }}&lt;/classifier&gt;{{ end }}{{ if .type }}
&lt;type&gt;{{ .type }}&lt;/type&gt;{{ end }}
&lt;/dependency&gt;</code></pre>

                                             <div class="copy-button"><em>copied!</em>
                                              &#160;
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane " id="dotnet-cli">
                                       <div>
                                          <div class="install-script-row highlight">
                                             <pre class="install-script"
                                                id="dotnet-cli-text">
                                                {{ if (eq .artifactId "aspose-barcode") }}
                                                  <code class="install-command-row">implementation group: '{{ .groupId }}', name: '{{ .artifactId }}', version: '{{ .version }}'{{ if .classifier }}, classifier: '{{ .classifier }}'{{ end }}
implementation group: '{{ .groupId }}', name: '{{ .artifactId }}', classifier: 'javadoc', version: '{{ .version }}'</code>
                                                {{ else }}
                                                  <code class="install-command-row">compile(group: '{{ .groupId }}', name: '{{ .artifactId }}', version: '{{ .version }}'{{ if .classifier }}, classifier: '{{ .classifier }}'{{ end }})</code>
                                                {{ end }}
                                              </pre>
                                             <div class="copy-button"><em>copied!</em>
                                                &#160;
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane " id="package-reference">
                                       <div>
                                          <div class="install-script-row highlight">
                                             <pre class="install-script"
                                             id="package-reference-text"><code class="install-command-row">&lt;dependency org=&quot;{{ .groupId }}&quot; name=&quot;{{ .artifactId }}&quot; rev=&quot;{{ .version }}&quot;&gt;
 &lt;artifact name=&quot;{{ .artifactId }}&quot;{{ if .classifier }} m:classifier=&quot;{{ .classifier }}&quot;{{ end }} ext=&quot;{{ if .type }}{{ .type }}{{ else }}jar{{ end }}&quot;/&gt;
&lt;/dependency&gt;</code></pre>
                                             <div class="copy-button"><em>copied!</em>
                                                &#160;
                                             </div>
                                          </div>
                                       </div>

                                    </div>
                                    <div role="tabpanel" class="tab-pane " id="paket-cli">
                                       <div>
                                          <div class="install-script-row highlight">
                                             <pre class="install-script"
                                                id="paket-cli-text"><code class="install-command-row">libraryDependencies += "{{ .groupId }}" % "{{ .artifactId }}" % "{{ .version }}"</code></pre>
                                             <div class="copy-button"><em>copied!</em>
                                                &#160;
                                             </div>
                                          </div>
                                       </div>

                                    </div>


                                 </div>
                              </div>
                           </div> <!-- "end of package-header -->
                        {{ end }}


          <div class="body-tabs">
           <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active" id="show-readme-container">
                 <a href="#readme-tab" role="tab" data-toggle="tab" id="readme-body-tab" class="body-tab"
                    aria-controls="readme-tab" aria-expanded="true" aria-selected="true">
                 <i class="fa fa-book" aria-hidden="true"></i>
                 README
                 </a>
              </li>

              <li role="presentation">
                 <a href="#versions-tab" role="tab" data-toggle="tab" id="versions-body-tab" class="body-tab"
                    aria-controls="versions-tab" aria-expanded="false" aria-selected="false">
                 <i class="fa-clock-o fa" aria-hidden="true"></i>
                 Versions
                 </a>
              </li>

              {{ if .context.Params.releaseNotesLink }}
              <li role="presentation">
                 <a href="{{.context.Params.releaseNotesLink}}" id="releasenotes-body-tab" class="body-tab">
                 <i class="fa-sticky-note fa" aria-hidden="true"></i>
                 Release Notes
                 </a>
              </li>
              {{ end }}

           </ul>

      </div> <!-- end of body-tabs" -->


      <div class="tab-content body-tab-content">



        <div role="tabpanel" class="tab-pane active" id="readme-tab">
                 <div class="readme-common">
                    <div id="readme-container">
                       <p>{{ .context.Content }}</p>
                    </div>
                 </div>
              </div> <!-- end of readme-tab -->

        <div role="tabpanel" class="tab-pane " id="versions-tab">
                             <div class="version-history" id="version-history">
                                <table aria-label="Version History of Aspose.Words.Shaping.HarfBuzz"
                                   class="table borderless">
                                   <thead>
                                      <tr>
                                         <th scope="col">Version</th>
                                         <th scope="col">Release Date</th>
                                      </tr>
                                   </thead>
                                   <tbody class="no-border">

                                     {{ $p := . }}
                                      {{ range  (sort $releases ".releasehDate" "desc") }}

                                      <tr class="bg-info">
                                         <td>
                                            <a href="{{ $p.Page.RelPermalink }}{{ .id }}/" title="{{.version}}">
                                            {{.version}}
                                            </a>
                                         </td>
                                         <td tabindex="0">
                                            <span data-datetime="2022-02-28T09:13:54.5200000">{{.releasehDate  | time.Format ":date_long" }}</span>
                                         </td>
                                      </tr>
                                      {{ end }}
                                   </tbody>
                                </table>
                             </div>
                          </div> <!-- end of version-history -->

      </div> <!-- end of body-tab-content -->

      <hr>

      {{ $p := . }}
       {{ range  first 1 (sort $releases ".releasehDate" "desc") }}

          {{ if $p.context.Keywords }}
          <div class="tagwrapper"><p>
                     {{ range $.context.Keywords }}
                      <a href="https://search.aspose.com/q/{{ lower  (replace . " " "-") }}.html" title="Search for docx">{{.}}</a>
                    {{ end }}
            </p></div>

            {{ end }}
      {{ end }}

  </div> <!-- end of package-details-main -->

<!--
   {{ $p := . }}
    {{ range  first 1 (sort $releases ".releasehDate" "desc") }}
          <aside aria-label="Package details info" class="col-sm-3 package-details-info">
          <div class="sidebar-section">
          <div class="sidebar-section">
             <div class="sidebar-headers">About</div>
             <ul class="list-unstyled ms-Icon-ul sidebar-links">
                <li>
                   <i class="fa fa-history" aria-hidden="true"></i>

                   {{ $ageDays := div (sub now.Unix .releasehDate.Unix) 86400 }}
                   {{ $ageMonths := div (sub now.Unix .releasehDate.Unix) 2592000 }}

                   {{ if eq $ageDays 0 }}

                       <span>Last Published today.</span>

                   {{ else if lt $ageDays 31 }}

                       <span>Last Published {{ $ageDays }}
                           {{ cond (eq $ageDays 1) "day" "days"}}
                           ago.</span>

                   {{ else }}

                       <span>Last Published {{ $ageMonths }}
                           {{ cond (eq $ageMonths 1) "month" "months" }}
                           ago.</span>

                   {{ end }}

                </li>
                <li>
                   <i class="fa fa-globe" aria-hidden="true"></i>
                   <a href="{{$.context.Params.productLink}}" data-track="outbound-project-url"
                      title="Visit the project site to learn more about this package">
                   Product website
                   </a>
                </li>
                <li class="report-link">
                   <i class="fa fa-flag" aria-hidden="true"></i>
                   <a href="{{$.context.Params.forumLink}}"
                      title="Report the package as abusive">
                   Report an issue
                   </a>
                </li>
             </ul>
          </div>
          <div class="sidebar-section">
             <ul class="list-unstyled owner-list">
                <li>
                   <a href="/" title="Releases Home">
                   <img src="/res_repo/img/groupdocsprofile.png" width="32" />
                   </a>
                   <a href="/" title="Groupdocs.cloud Releases">
                   Releases Home
                   </a>
                </li>
             </ul>
          </div>

          {{ if $p.context.Keywords }}
          <p>
                     {{ range $.context.Keywords }}
                      <a href="https://search.groupdocs.cloud/q/{{ lower  (replace . " " "-") }}.html" title="Search for docx">{{.}}</a>
                    {{ end }}
            </p>

        {{ end }}


          <p>&copy; Aspose 2002-{{now.Year}}. All Rights Reserved.</p>
       </aside>
       {{ end }}

-->
          </div></section>
