{{ $currentPage := . }}
<nav class="bg-primary-color-dark pv4 w-100" role="navigation">

  <div class="repotopbar">

    <span class="homelink">

      <a href="{{ .Site.BaseURL }}" class="link white" title="Aspose Releases">
         Home
      </a>
    </span>
<!--
    {{- partial "repository/site-search.html" . -}}
-->
    <ul class="list ma0 pa0 dn dib-l">
      {{ range .Site.Menus.global }}
        <li class="f5 dib mr4" role="menuitem">
            {{/* TODO: Create an "Global" active class to show which site one is currently at */}}
          <a href="{{ .URL }}" class="dim link{{ if $currentPage.IsMenuCurrent "global" . }} gray {{else}} light-silver{{ end }}">
            {{ .Name }}
              {{/* using ".Post" from the menu system to determine if we should show an icon for external links */}}
            {{ $post_status := printf "%s" .Post }}
            {{ if eq $post_status "external" }}
              <span class="pl1">
                {{ partial "repository/svg/link-ext.svg" (dict "size" "10") }}
              </span>
            {{ end }}
          </a>
        </li>
      {{ end }}
    </ul>




  </div>
</nav>
