<div id="dbToolbar" class="btns">&nbsp;</div>
<div class="panel-default downloadbox">
  <div id="dvrow" class="row">
    <div class="col-md-12">
      <div class="panel-body downloadfiledetails pd0">
        <div class="col-sm-12 downloadcontent pd0">
           {{.Inner}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <input
      name="btnLoadmore"
      type="button"
      id="btnLoadmore"
      class="btn btn-primary"
      style="display: none"
      value={{ i18n "Show_More_Files" }}
    />
    <span id="spLoading" style="float: left"></span>
  </div>
</div>
