{{ $directdownload := .Get "directdownload" }}
{{ $family := .Get "family" }} 
{{ $product := .Get "product" }} 
{{ $limit := .Get "limit" }} 
{{ $shownested := .Get "shownested" }} 
{{ if (in $directdownload "true") }}
<div class="col-md-12">
  <h3 id="hTitle" class="files-header" style="display: block">
     {{ i18n "Direct_Download" }}
  </h3>
</div>
{{ end }} 
{{$parent_path := print $family "/" $product}} 

{{ if (in $shownested "true") }}

    {{ if (in $limit "beforecontent-old") }}
          {{ range first 6 ( where (where (where $.Site.Pages.ByWeight.Reverse ".Section" $family ) ".Params.page_type" "single_release_page") ".Params.section_parent_path" $parent_path ) }}
          {{$download_link := print .Params.download_link "/"}}
          {{ $lastUrlElement := index (last 1 (split (delimit (split $download_link "/") "," "") ",")) 0 }}
          <div class="col-md-12">
            <div class="panel-body downloadfilebody">
              <div class="col-sm-1 zipiconbox">
                <img src="{{ replaceRE "(\\s)" ""  (.Params.image_link) }}" />
              </div>
              <div class="col-sm-8 downloadcontent">
                <h3><a href="{{ .Permalink }}">{{ .Params.folder_name }}</a></h3>
                <p>{{ .Params.intro_text }}</p>
                <p>
                  {{$download_countddd := print .Params.download_count ""}}
                  {{ $added_date := (findRE `\d{1,2}\/\d{1,2}\/\d{4}` $download_countddd 1 ) }}
                  {{ $dwn_count := (findRE `Downloads:\s(\d+)` $download_countddd 1 ) }}
                  {{ $view_count := (findRE `Views:\s(\d+)` $download_countddd 1 ) }}
                  {{with $added_date}}
                  <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ i18n "Added" }}: <span id="added-update-{{ $lastUrlElement }}">{{ index $added_date 0 }}</span>
                  {{end}}
                  <span class="glyphicon glyphicon-save leftme five5" aria-hidden="true"></span> {{ i18n "Downloads" }}: <span id="dwn-update-{{ $lastUrlElement }}"><img style="width: 22px;" src="/images/loading.svg"></span>
                  <!--<span class="glyphicon glyphicon-eye-open leftme" aria-hidden="true"></span> Views: <span id="view-update-{{ $lastUrlElement }}">{{ index $view_count 0 }}</span>-->
                </p>
              </div>
              <div class="col-sm-3">
                {{$backendURL := print (replaceRE "(\\s)" ""  (.Site.Params.backendURL) ) "" (replaceRE "(\\s)" ""  (.Params.download_link))  }}
                <!--<a href="{{ $backendURL }}" class="btn btn-primary dwnam3">
                  <i class="glyphicon glyphicon-download-alt" style="padding-right: 10px"></i>{{ .Params.download_text }}</a>-->
                  <a onclick="downloadrelease('{{ .Params.download_link }}')" class="btn btn-primary dwnam3">
                    <i class="glyphicon glyphicon-download-alt" style="padding-right: 10px"></i>{{ i18n "Download" }}</a>
                <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ i18n "File_Size" }}: {{ replace .Params.file_size "File Size:" "" }}  </p>
              </div>
            </div>
          </div>
          {{ end }}
    {{ else if (in $limit "aftercontent-old") }}
          <div class="loadmorediv">
              {{ range after 6 ( where (where (where $.Site.Pages.ByWeight.Reverse ".Section" $family ) ".Params.page_type" "single_release_page") ".Params.section_parent_path" $parent_path ) }}
                {{$download_link := print .Params.download_link "/"}}
                {{ $lastUrlElement := index (last 1 (split (delimit (split $download_link "/") "," "") ",")) 0 }}
                  <div class="col-md-12">
                    <div class="panel-body downloadfilebody">
                      <div class="col-sm-1 zipiconbox">
                        <img src="{{ replaceRE "(\\s)" ""  (.Params.image_link) }}" />
                      </div>
                      <div class="col-sm-8 downloadcontent">
                        <h3><a href="{{ .Permalink }}">{{ .Params.folder_name }}</a></h3>
                        <p>{{ .Params.intro_text }}</p>
                        <p>
                          {{$download_countddd := print .Params.download_count ""}}
                          {{ $added_date := (findRE `\d{1,2}\/\d{1,2}\/\d{4}` $download_countddd 1 ) }}
                          {{ $dwn_count := (findRE `Downloads:\s(\d+)` $download_countddd 1 ) }}
                          {{ $view_count := (findRE `Views:\s(\d+)` $download_countddd 1 ) }}
                          {{with $added_date}}
                          <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ i18n "Added" }}: <span id="added-update-{{ $lastUrlElement }}">{{ index $added_date 0 }}</span>
                          {{end}}
                          <span class="glyphicon glyphicon-save leftme six6" aria-hidden="true"></span> {{ i18n "Downloads" }}: <span id="dwn-update-{{ $lastUrlElement }}"><img style="width: 22px;" src="/images/loading.svg"></span>
                          <!--<span class="glyphicon glyphicon-eye-open leftme" aria-hidden="true"></span> Views: <span id="view-update-{{ $lastUrlElement }}">{{ index $view_count 0 }}</span>-->
                        </p>
                      </div>
                      <div class="col-sm-3">
                        {{$backendURL := print (replaceRE "(\\s)" ""  (.Site.Params.backendURL) ) "" (replaceRE "(\\s)" ""  (.Params.download_link))  }}
                        <!--<a href="{{ $backendURL }}" class="btn btn-primary dwnam3">
                          <i class="glyphicon glyphicon-download-alt" style="padding-right: 10px"></i>{{ .Params.download_text }}</a>-->
                          <a onclick="downloadrelease('{{ .Params.download_link }}')" class="btn btn-primary dwnam3">
                            <i class="glyphicon glyphicon-download-alt" style="padding-right: 10px"></i>{{ i18n "Download" }}</a>
                        <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ i18n "File_Size" }}: {{ replace .Params.file_size "File Size:" "" }} </p>
                      </div>
                    </div>
                  </div>
              {{ end }}
          </div>
    {{else}} 
         <div class="loadmorediv">
            {{ range  where (where (where $.Site.Pages.ByWeight.Reverse ".Section" $family ) ".Params.page_type" "single_release_page") ".Params.section_parent_path" $parent_path  }}
                {{$download_link := print .Params.download_link "/"}}
                {{ $lastUrlElement := index (last 1 (split (delimit (split $download_link "/") "," "") ",")) 0 }}
                <div class="col-md-12">
                  <div class="panel-body downloadfilebody">
                    <div class="col-sm-1 zipiconbox">
                      <img src="{{ replaceRE "(\\s)" ""  (.Params.image_link) }}" />
                    </div>
                    <div class="col-sm-8 downloadcontent">
                      <h3><a href="{{ .Permalink }}">{{ .Params.folder_name }}</a></h3>
                      <p>{{ .Params.intro_text }}</p>
                      <p>
                        {{$download_countddd := print .Params.download_count ""}}
                        {{ $added_date := (findRE `\d{1,2}\/\d{1,2}\/\d{4}` $download_countddd 1 ) }}
                        {{ $dwn_count := (findRE `Downloads:\s(\d+)` $download_countddd 1 ) }}
                        {{ $view_count := (findRE `Views:\s(\d+)` $download_countddd 1 ) }}
                        {{with $added_date}}
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ i18n "Added" }}: <span id="added-update-{{ $lastUrlElement }}">{{ index $added_date 0 }}</span>
                        {{end}}
                        <span class="glyphicon glyphicon-save leftme one1" aria-hidden="true"></span> {{ i18n "Downloads" }}: <span id="dwn-update-{{ $lastUrlElement }}"><img style="width: 22px;" src="/images/loading.svg"></span>
                        <!--<span class="glyphicon glyphicon-eye-open leftme" aria-hidden="true"></span> Views: <span id="view-update-{{ $lastUrlElement }}">{{ index $view_count 0 }}</span>-->
                      </p>
                    </div>
                    <div class="col-sm-3">
                      {{$backendURL := print (replaceRE "(\\s)" ""  (.Site.Params.backendURL) ) "" (replaceRE "(\\s)" ""  (.Params.download_link))  }}
                      <!--<a href="{{ $backendURL }}" class="btn btn-primary dwnam3">
                        <i class="glyphicon glyphicon-download-alt" style="padding-right: 10px"></i>{{ .Params.download_text }}</a>-->
                        <a onclick="downloadrelease('{{ .Params.download_link }}')" class="btn btn-primary dwnam3">
                          <i class="glyphicon glyphicon-download-alt" style="padding-right: 10px"></i>{{ i18n "Download" }}</a>
                      <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ i18n "File_Size" }}: {{ replace .Params.file_size "File Size:" "" }} </p>
                    </div>
                  </div>
                </div>
            {{ end }}
          </div>
    {{end}}


{{else}}

    {{ if (in $limit "beforecontent-old") }}
        {{ range first 6 ( where (where (where $.Site.Pages.ByWeight.Reverse ".Section" $family ) ".Params.page_type" "single_release_page") ".Params.parent_path" $parent_path ) }}
        {{$download_link := print .Params.download_link "/"}}
        {{ $lastUrlElement := index (last 1 (split (delimit (split $download_link "/") "," "") ",")) 0 }}
        <div class="col-md-12">
          <div class="panel-body downloadfilebody">
            <div class="col-sm-1 zipiconbox">
              <img src="{{ replaceRE "(\\s)" ""  (.Params.image_link) }}" />
            </div>
            <div class="col-sm-8 downloadcontent">
              <h3><a href="{{ .Permalink }}">{{ .Params.folder_name }}</a></h3>
              <p>{{ .Params.intro_text }}</p>
              <p>
                {{$download_countddd := print .Params.download_count ""}}
                {{ $added_date := (findRE `\d{1,2}\/\d{1,2}\/\d{4}` $download_countddd 1 ) }}
                {{ $dwn_count := (findRE `Downloads:\s(\d+)` $download_countddd 1 ) }}
                {{ $view_count := (findRE `Views:\s(\d+)` $download_countddd 1 ) }}
                {{with $added_date}}
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ i18n "Added" }}: <span id="added-update-{{ $lastUrlElement }}">{{ index $added_date 0 }}</span>
                {{end}}
                <span class="glyphicon glyphicon-save leftme two1" aria-hidden="true"></span> {{ i18n "Downloads" }}: <span id="dwn-update-{{ $lastUrlElement }}"><img style="width: 22px;" src="/images/loading.svg"></span>
                <!--<span class="glyphicon glyphicon-eye-open leftme" aria-hidden="true"></span> Views: <span id="view-update-{{ $lastUrlElement }}">{{ index $view_count 0 }}</span>-->
              </p>
            </div>
            <div class="col-sm-3">
              {{$backendURL := print (replaceRE "(\\s)" ""  (.Site.Params.backendURL) ) "" (replaceRE "(\\s)" ""  (.Params.download_link))  }}
              <!--<a href="{{ $backendURL }}" class="btn btn-primary dwnam3">
                <i class="glyphicon glyphicon-download-alt" style="padding-right: 10px"></i>{{ .Params.download_text }}</a>-->
                <a onclick="downloadrelease('{{ .Params.download_link }}')" class="btn btn-primary dwnam3">
                  <i class="glyphicon glyphicon-download-alt" style="padding-right: 10px"></i>{{ i18n "Download" }}</a>
              <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ i18n "File_Size" }}: {{ replace .Params.file_size "File Size:" "" }} </p>
            </div>
          </div>
        </div>
        {{ end }}
    {{ else if (in $limit "aftercontent-old") }}
          <div class="loadmorediv">
              {{ range after 6 ( where (where (where $.Site.Pages.ByWeight.Reverse ".Section" $family ) ".Params.page_type" "single_release_page") ".Params.parent_path" $parent_path ) }}
                  {{$download_link := print .Params.download_link "/"}}
                  {{ $lastUrlElement := index (last 1 (split (delimit (split $download_link "/") "," "") ",")) 0 }}
                  <div class="col-md-12">
                    <div class="panel-body downloadfilebody">
                      <div class="col-sm-1 zipiconbox">
                        <img src="{{ replaceRE "(\\s)" ""  (.Params.image_link) }}" />
                      </div>
                      <div class="col-sm-8 downloadcontent">
                        <h3><a href="{{ .Permalink }}">{{ .Params.folder_name }}</a></h3>
                        <p>{{ .Params.intro_text }}</p>
                        <p>
                          {{$download_countddd := print .Params.download_count ""}}
                          {{ $added_date := (findRE `\d{1,2}\/\d{1,2}\/\d{4}` $download_countddd 1 ) }}
                          {{ $dwn_count := (findRE `Downloads:\s(\d+)` $download_countddd 1 ) }}
                          {{ $view_count := (findRE `Views:\s(\d+)` $download_countddd 1 ) }}
                          {{with $added_date}}
                          <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ i18n "Added" }}: <span id="added-update-{{ $lastUrlElement }}">{{ index $added_date 0 }}</span>
                          {{end}}
                          <span class="glyphicon glyphicon-save leftme three3" aria-hidden="true"></span> {{ i18n "Downloads" }}: <span id="dwn-update-{{ $lastUrlElement }}"><img style="width: 22px;" src="/images/loading.svg"></span>
                          <!--<span class="glyphicon glyphicon-eye-open leftme" aria-hidden="true"></span> Views: <span id="view-update-{{ $lastUrlElement }}">{{ index $view_count 0 }}</span>-->
                        </p>
                      </div>
                      <div class="col-sm-3">
                        {{$backendURL := print (replaceRE "(\\s)" ""  (.Site.Params.backendURL) ) "" (replaceRE "(\\s)" ""  (.Params.download_link))  }}
                          <!--<a href="{{ $backendURL }}" class="btn btn-primary dwnam3">
                          <i class="glyphicon glyphicon-download-alt" style="padding-right: 10px"></i>{{ .Params.download_text }}</a>-->
                          <a onclick="downloadrelease('{{ .Params.download_link }}')" class="btn btn-primary dwnam3">
                            <i class="glyphicon glyphicon-download-alt" style="padding-right: 10px"></i>{{ i18n "Download" }}</a>
                        <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ i18n "File_Size" }}: {{ replace .Params.file_size "File Size:" "" }} </p>
                      </div>
                    </div>
                  </div>
              {{ end }}
            </div>
    {{else}} 
      <div class="loadmorediv">
        {{ range  where (where (where $.Site.Pages.ByWeight.Reverse  ".Section" $family ) ".Params.page_type" "single_release_page") ".Params.parent_path" $parent_path  }}
        
        {{$download_link := print .Params.download_link "/"}}
        {{ $lastUrlElement := index (last 1 (split (delimit (split $download_link "/") "," "") ",")) 0 }}
        
        <div class="col-md-12">
          <div class="panel-body downloadfilebody">
            <div class="col-sm-1 zipiconbox">
              <img src="{{ replaceRE "(\\s)" ""  (.Params.image_link) }}" />
            </div>
            <div class="col-sm-8 downloadcontent">
              <h3><a href="{{ .Permalink }}">{{ .Params.folder_name }}</a></h3>
              <p>{{ .Params.intro_text }}</p>
              <p>
                {{$download_countddd := print .Params.download_count ""}}
                {{ $added_date := (findRE `\d{1,2}\/\d{1,2}\/\d{4}` $download_countddd 1 ) }}
                {{ $dwn_count := (findRE `Downloads:\s(\d+)` $download_countddd 1 ) }}
                {{ $view_count := (findRE `Views:\s(\d+)` $download_countddd 1 ) }}
                {{with $added_date}}
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ i18n "Added" }}: <span id="added-update-{{ $lastUrlElement }}">{{ index $added_date 0 }}</span>
                {{end}}
                <span class="glyphicon glyphicon-save leftme four4" aria-hidden="true"></span> {{ i18n "Downloads" }}: <span id="dwn-update-{{ $lastUrlElement }}"><img style="width: 22px;" src="/images/loading.svg"></span>
                <!--<span class="glyphicon glyphicon-eye-open leftme" aria-hidden="true"></span> Views: <span id="view-update-{{ $lastUrlElement }}">{{ index $view_count 0 }}</span>-->
              </p>
            </div>
            <div class="col-sm-3">
              {{$backendURL := print (replaceRE "(\\s)" ""  (.Site.Params.backendURL) ) "" (replaceRE "(\\s)" ""  (.Params.download_link))  }}
              <!--<a href="{{ $backendURL }}" class="btn btn-primary dwnam3">
                <i class="glyphicon glyphicon-download-alt" style="padding-right: 10px"></i>{{ .Params.download_text }}</a>-->
                <a onclick="downloadrelease('{{ .Params.download_link }}')" class="btn btn-primary dwnam3">
                  <i class="glyphicon glyphicon-download-alt" style="padding-right: 10px"></i>{{ i18n "Download" }}</a>
              <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ i18n "File_Size" }}: {{ replace .Params.file_size "File Size:" "" }} </p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    {{end}}

{{end}}
      



<!-- <p>{{ $pages := where $.Site.RegularPages ".Section" $family  }}
{{ range $pages }}
{{ if  (in .Params.parent_path $parent_path) }}
    {{ .Params.parent_path }} | {{ .}}
{{end}}
{{end}}</p> -->

<script type="text/javascript">
   
  $.getJSON("{{.Site.Params.backendURL}}/api/updatecount?path={{$parent_path}}", function(data) { 
      //var myParam = location.search.split('data=')[1]
      // data[myParam] = parseInt(data[myParam]) + 1;
        $.each(data, function(key, value) {
            //console.log(key+"..."+value);
            //console.log(key + " View Count " + value.view_count);
            //console.log(key + " Dwn Count " + value.download_count);
            $("#dwn-update-"+ key).text(value.download_count);
           // $("#view-update-"+ key).text(value.view_count);
            //$("#added-update-"+ key).text(value.date_added);
            
        });
  });
  $(document).ready( function() {
    $('.loadmorediv').simpleLoadMore({
      item: '.col-md-12',
      count: 10,
      // itemsToLoad: 10,
      btnHTML: '<a style="margin-left: 15px;" href="#" class="btn btn-primary load-more__btn"> {{ i18n "Show_More_Files" }}... </a>'
    });
 });
</script>