{{ $text := .Get "text" }}
{{ $link := .Get "link" }}
{{ if  (in $text "Support") }}
<a href="{{ $link }}" class="btn btn-primary btn-lg">
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>{{ i18n "Support_Forum" }}</a>&nbsp;
{{else}}
{{$backendURL := print (replaceRE "(\\s)" ""  (.Site.Params.backendURL) ) "" (replaceRE "(\\s)" ""  ($link))  }}
<!--<a href="{{ $backendURL }}" class="btn btn-primary btn-lg">{{$text}}</a>&nbsp;-->
<a onclick="downloadrelease('{{ $link }}')" class="btn btn-primary btn-lg">{{ i18n "Download" }}</a>&nbsp;

{{ end }}

