<div class="container-fluid no-hdr hide">
  <div class="container">
    <div class="row">

      <div class="col-md-12 title2">
        <div class="col-md-8 pd-lr">
          <h1 id="Venture"></h1>
        </div>
        <div class="col-md-3 pull-right searchbartop">
          <div class="topformsearch">
            <input id="txtMainSearch" type="text" placeholder="Search here..." value="" class="hide">

            <div class="search-dropdown">


            </div>

          </div>
        </div>
      </div>
      <!--/col3 -->
    </div>
  </div>
  <!--/container -->
</div>
<div class="container-fluid bcrumb1">
  <div id="sticky1" class="stickytopheight">&nbsp;</div>
  <div class="container">
    <div class="moduletable">
      <ul id="dvBC" class="breadcrumb">
        {{ $currentlang :=  replaceRE "(\\s)" "" $.Site.Language }}
        {{$pattern_current_lang := print "/" $currentlang }}
        {{ $currentpath_without_lang := replace .RelPermalink  $pattern_current_lang "" }}
          {{ $dot := . }}
          {{ $dot.Scratch.Set "path" "" }}
          {{ $dot.Scratch.Set "breadcrumb" slice }}
          {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
          {{ $.Scratch.Add "path" .Site.BaseURL }}
          {{ if eq $currentlang "en" }} 
              {{ $.Scratch.Add "breadcrumb" (slice (dict "url" .Site.BaseURL "name" "home" "position" 1 )) }}
              {{ range $index, $element := split $url "/" }}
                  {{ $dot.Scratch.Add "path" $element }}
                  {{ $.Scratch.Add "path" "/" }}
                  {{ if ne $element "" }}
                    {{ $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 1))) }}
                  {{ end }}
              {{ end }}
          {{else}}
              {{ range $index, $element := split $url "/" }}
                    {{ $dot.Scratch.Add "path" $element }}
                    {{ $.Scratch.Add "path" "/" }}
                    {{ if ne $element "" }}
                          {{ if eq $index 0 }} 
                            {{ $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 2))) }}
                          {{else}}
                            {{ $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 2))) }}
                          {{end}}
                    {{ end }}
              {{ end }}
          {{end}}

          {{ range $index, $element := $.Scratch.Get "breadcrumb" }}

              {{ $urlpage := .url }}
              {{ $urlparams := urls.Parse $urlpage }}
              {{ $position := .position }}
              {{ $name := .name }}

              {{ if eq $currentlang "en" }} 
                {{ with site.GetPage $urlparams.Path }}
                      {{ $family_listing_page_title := .Params.family_listing_page_title }}
                      {{ if eq $urlparams.Path "/" }} 
                        <li><a href="{{$urlpage}}" class="">{{ i18n "Home" }}</a><span class="divider"> </span></li>
                      {{else}}
                        {{ if not (eq $currentpath_without_lang $urlparams.Path )}}
                            <li><a href="{{$urlpage}}" class="">{{$family_listing_page_title}} </a><span class="divider"> </span></li>
                        {{else}}
                            <li><span>{{$family_listing_page_title}}</span><span class="divider"> </span></li>
                        {{end}}
                      {{end}}
                  {{ end }}
              {{else}}
                
                {{$pattern_current_lang := print "/" $currentlang }}
                  {{ $lang_path_removed := replace $urlparams.Path  $pattern_current_lang "" }}
                  {{ with site.GetPage $lang_path_removed }}
                      {{ $family_listing_page_title := .Params.family_listing_page_title }}
                      {{ if eq $lang_path_removed "/" }} 
                          <li><a href="{{$urlpage}}" class="">{{ i18n "Home" }}</a><span class="divider"> </span></li>
                      {{else}}
                        {{ if not (eq $currentpath_without_lang $lang_path_removed )}}
                            <li><a href="{{$urlpage}}" class="">{{$family_listing_page_title}} </a><span class="divider"> </span></li>
                        {{else}}
                            <li><span>{{$family_listing_page_title}}</span><span class="divider"> </span></li>
                        {{end}}
                      {{end}}
                  {{ end }}
              {{end}}
          {{ end }}
      </ul>
    </div>
  </div>
</div>
