{{ if .Page.IsTranslated }}
  {{- partial "langswitcher.html" . -}}
 <script>(function (i, s, o, g, r, a, m) { i['ContainerizeMenuObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.append(a) })(window, document, 'script', 'https://menu-new.containerize.com/scripts/engine.min.js?v=1.0.1', '{{.Language.Params.menuCode}}');</script>
{{ else}}
{{ $dynamicmenuid :=.Site.Params.dynamicmenuid }}
 <script>(function (i, s, o, g, r, a, m) { i['ContainerizeMenuObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.append(a) })(window, document, 'script', 'https://menu-new.containerize.com/scripts/engine.min.js?v=1.0.1', '{{ $dynamicmenuid }}');</script>
{{ end }}

 <script>
     $(document).ready(function(){
    setTimeout(() => {
          var segments = location.pathname.split( '/' );
          //console.log(segments.length);
          if(segments.length == 4 || segments.length == 5 ){

            if(segments.length == 4 ){
              var parentlink = location.origin+'/'+segments[1]+''+'/'+segments[2]+'/'
            }
            if(segments.length == 5 ){
              var parentlink = location.origin+'/'+segments[1]+''+'/'+segments[2]+''+'/'+segments[3]+'/'
            }

            var element =  $( '#tree a[href*=\"'+ parentlink +'\"]' );
              var ParentNodeId =  element.parent();
              if(ParentNodeId){
                  //console.log('current active start');
                  //console.log(ParentNodeId);
                  ParentNodeId.addClass(' active-child currentpage');
                  //console.log('current active end')
             }
          
          }
          //console.log('parent active start')
          $(".glyphicon-minus").parent().addClass(' active-child');
          $(".glyphicon-minus").parent('li').addClass(' active-childtest');
          //console.log('parent active start')
    }, "1000")
  });

  function downloadrelease(link){
    var myHeaders = new Headers();
    var formdata = new FormData();
    formdata.append("tagid", link);
    var requestOptions = {
      method: 'POST',
      headers: myHeaders,
      body: formdata,
      redirect: 'follow'
    };

    fetch("{{.Site.Params.backendURL}}/download-release", requestOptions)
    //.then(response => response.text())
    //.then(result => console.log(result))
    //.catch(error => console.log('error', error));
    .then((response) => response.text())
    .then((response) => {
      //console.log('Success:', response);
      var link = document.createElement('a');
      link.href = response;
      link.click();
    })
    .catch((error) => {
     // console.error('Error:', error);
    });
}

 </script>