 <div id="msg1" class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <strong><a data-toggle="collapse" class="panelLink collapsed" href="#collapse1">Are you looking for an evaluation version of a product?</a></strong>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div id="dvPanel" class="panel-body"><p>If so you can download any of the below versions for testing. The product will function as normal except for an evaluation limitation. At the time of purchase we provide a license file via email that will allow the product to work in its full capacity. If you would also like an evaluation license to test without any restrictions for 30 days, please follow the directions <a href="https://purchase.aspose.com/temporary-license">provided here</a>.</p></div>
        
      </div>
    </div>
  </div>

 <div id="msg2" class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <strong><a data-toggle="collapse" href="#collapse2" class="panelLink collapsed" aria-expanded="false">Are you having troubles in downloading?</a></strong>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
        <div class="panel-body">  <p>If you experience errors, when you try to download a file, make sure your network policies (enforced by your company or ISP) allow downloading ZIP and/or MSI files. </p></div>
        
      </div>
    </div>
  </div>