
{{ define "main" }}
        {{ $t := . }}
        {{ $releases := slice }}
          {{ range .Parent.Params.packages_refs }}
            {{ $release := dict }}
            {{ $releaseId := . }}
            {{ $parsedEvent := dict }}
            {{ $release = merge $release (dict "releaseId" $releaseId) }}

              {{ $url := (printf "/data/repository/%s/%s.json" $t.Parent.Params.dataFolder $releaseId)}}
                {{ range $index, $comments := (getJSON $url)  }}

                    {{ if eq $index "releasehDate" }}
                        {{ $release = merge $release (dict $index   (time $comments)) }}
                    {{ else }}
                      {{ $release = merge $release (dict $index  $comments) }}
                    {{ end }}

              {{ end }}

                  {{ $releases = $releases | append $release }}

              {{ end }}

<section role="main" class="main-container page-package-details">
        <div class="row">

          <div class="col-sm-9 package-details-main">
            {{ $p := . }}
            {{ range  first 1 (where $releases ".id" $p.File.TranslationBaseName) }}
            <div class="package-header">
                              <div class="package-title">
                                 <h1>
                                    <span class="pull-left">
                                    <!--<img class="package-icon img-responsive" aria-hidden="true" alt="{{ $p.Parent.LinkTitle }}"
                                        src="/res_repo/img/groupdocs{{ lower (replace (replace  $t.Parent.RelPermalink "/" "_") "_java_" "-for-java") }}.png" />-->
                                    {{ if $t.Page.IsTranslated }}
                                      {{$lang := print "/" $t.Language.Params.languageCode}}
                                         <img class="package-icon img-responsive" istran="{{$lang}}" farooq-id="{{$t.Parent.RelPermalink}}" aria-hidden="true" alt="{{ $p.Parent.LinkTitle }}"
                                         src="/res_repo/img/aspose{{ lower (replace (replace (replace  $t.Parent.RelPermalink $lang "") "/" "_") "_java_" "-for-java") }}.png"  loading="lazy" />
                                    {{ else }}
                                         <img class="package-icon img-responsive" farooq-id="{{$t.Parent.RelPermalink}}" aria-hidden="true" alt="{{ $p.Parent.LinkTitle }}"
                                         src="/res_repo/img/aspose{{ lower (replace (replace  $t.Parent.RelPermalink "/" "_") "_java_" "-for-java") }}.png"  loading="lazy" />
                                    {{ end }}
                                    </span>
                                    <span class="title" tabindex="0">
                                    <a href="{{ $p.Parent.RelPermalink }}" title="{{$p.Parent.LinkTitle}}">
                                      {{$p.Parent.LinkTitle }}{{ if not (strings.Contains $p.Parent.LinkTitle "for Java") }} <span>for Java</span> {{ end }}</a>
                                    </span>
                                    <span class="version-title" tabindex="0">
                                      <a href="{{ $p.Parent.RelPermalink }}{{ .id }}/" title="{{.version}}">
                                      {{.version}}
                                      </a>
                                    </span>
                                 </h1>
                              </div>

                              <div class="tabs install-tabs">
                                 <ul class="nav nav-tabs" role="tablist">
                                    <li class="active">
                                       <a href="#package-manager" aria-expanded="true" id="package-manager-tab"
                                          class="package-manager-tab" aria-selected="true" aria-controls="package-manager"
                                           data-toggle="tab"
                                          title="Switch to tab panel which contains package installation command for Package Manager">
                                       Maven
                                       </a>
                                    </li>
                                    <li class="">
                                       <a href="#dotnet-cli" aria-expanded="false" id="dotnet-cli-tab"
                                          class="package-manager-tab" aria-selected="false" aria-controls="dotnet-cli"
                                           data-toggle="tab"
                                          title="Switch to tab panel which contains package installation command for .NET CLI">
                                       Gradle
                                       </a>
                                    </li>
                                    <li class="">
                                       <a href="#package-reference" aria-expanded="false" id="package-reference-tab"
                                          class="package-manager-tab" aria-selected="false" aria-controls="package-reference"
                                           data-toggle="tab"
                                          title="Switch to tab panel which contains package installation command for PackageReference">
                                       Ivy
                                       </a>
                                    </li>
                                    <li class="">
                                       <a href="#paket-cli" aria-expanded="false" id="paket-cli-tab"
                                          class="package-manager-tab" aria-selected="false" aria-controls="paket-cli"
                                           data-toggle="tab"
                                          title="Switch to tab panel which contains package installation command for Paket CLI">
                                       Sbt
                                       </a>
                                    </li>
                                 </ul>
                                 <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="package-manager">
                                       <div>
                                          <div class="install-script-row highlight">
                                             <pre class="install-script"
                                                id="package-manager-text"><code class="install-command-row">&lt;dependency&gt;
    &lt;groupId&gt;{{ .groupId }}&lt;/groupId&gt;
    &lt;artifactId&gt;{{ .artifactId }}&lt;/artifactId&gt;
    &lt;version&gt;{{ .version }}&lt;/version&gt;{{ if .classifier }}
    &lt;classifier&gt;{{ .classifier }}&lt;/classifier&gt;{{ end }}{{ if .type }}
    &lt;type&gt;{{ .type }}&lt;/type&gt;{{ end }}
&lt;/dependency&gt;</code></pre>
                                             <div class="copy-button"><em>copied!</em>
                                                &#160;
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane " id="dotnet-cli">
                                       <div>
                                          <div class="install-script-row highlight">
                                             <pre class="install-script"
                                                id="dotnet-cli-text">
                                                {{ if (eq .artifactId "aspose-barcode") }}
                                                  <code class="install-command-row">implementation group: '{{ .groupId }}', name: '{{ .artifactId }}', version: '{{ .version }}'{{ if .classifier }}, classifier: '{{ .classifier }}'{{ end }}
implementation group: '{{ .groupId }}', name: '{{ .artifactId }}', classifier: 'javadoc', version: '{{ .version }}'</code>
                                                {{ else }}
                                                  <code class="install-command-row">compile(group: '{{ .groupId }}', name: '{{ .artifactId }}', version: '{{ .version }}'{{ if .classifier }}, classifier: '{{ .classifier }}'{{ end }})</code>
                                                {{ end }}
                                              </pre>

                                             <div class="copy-button"><em>copied!</em>
                                              &#160;
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane " id="package-reference">
                                       <div>
                                          <div class="install-script-row highlight">
                                             <pre class="install-script"
                                                id="package-reference-text"><code class="install-command-row">&lt;dependency org=&quot;{{ .groupId }}&quot; name=&quot;{{ .artifactId }}&quot; rev=&quot;{{ .version }}&quot;&gt;
    &lt;artifact name=&quot;{{ .artifactId }}&quot;{{ if .classifier }} m:classifier=&quot;{{ .classifier }}&quot;{{ end }} ext=&quot;{{ if .type }}{{ .type }}{{ else }}jar{{ end }}&quot;/&gt;
&lt;/dependency&gt;</code></pre>
                                             <div class="copy-button"><em>copied!</em>
                                                &#160;
                                             </div>
                                          </div>
                                       </div>

                                    </div>
                                    <div role="tabpanel" class="tab-pane " id="paket-cli">
                                       <div>
                                          <div class="install-script-row highlight">
                                             <pre class="install-script"
                                                id="paket-cli-text"><code class="install-command-row">libraryDependencies += "{{ .groupId }}" % "{{ .artifactId }}" % "{{ .version }}"</code></pre>
                                             <div class="copy-button"><em>copied!</em>
                                                &#160;
                                             </div>
                                          </div>
                                       </div>

                                    </div>


                                 </div>
                              </div>
                           </div> <!-- "end of package-header -->
                        {{ end }}


          <div class="body-tabs">
           <ul class="nav nav-tabs" role="tablist">
              <li class="active" id="show-readme-container" role="presentation">
                 <a href="#readme-tab" role="tab" data-toggle="tab" id="readme-body-tab" class="body-tab"
                    aria-controls="readme-tab" aria-expanded="true" aria-selected="true">
                 <i class="fa fa-book" aria-hidden="true"></i>
                 README
                 </a>
              </li>

              <li role="presentation">
                 <a href="#versions-tab" role="tab" data-toggle="tab" id="versions-body-tab" class="body-tab"
                    aria-controls="versions-tab" aria-expanded="false" aria-selected="false">
                 <i class="fa-clock-o fa" aria-hidden="true"></i>
                 Versions
                 </a>
              </li>


              <li role="presentation">
                 <a href="#releasenotes-tab" role="tab" data-toggle="tab" id="releasenotes-body-tab" class="body-tab"
                    aria-controls="releasenotes-tab" aria-expanded="false" aria-selected="false">
                 <i class="fa-sticky-note fa" aria-hidden="true"></i>
                 Release Notes
                 </a>
              </li>

              <li role="presentation">
                 <a href="#packageexplorer-tab"  role="tab" data-toggle="tab" id="packageexplorer-body-tab" class="body-tab"
                    aria-controls="packageexplorer-tab" aria-expanded="false" aria-selected="false">
                 <i class="fa-folder-open fa" aria-hidden="true"></i>
                 Package Explorer
                 </a>
              </li>

           </ul>

      </div> <!-- end of body-tabs" -->


      <div class="tab-content body-tab-content">



        <div role="tabpanel" class="tab-pane active" id="readme-tab">
                 <div class="readme-common">
                    <div id="readme-container">
                       <p>{{ .Content }}</p>
                    </div>
                 </div>
              </div> <!-- end of readme-tab -->

        <div role="tabpanel" class="tab-pane " id="versions-tab">
                             <div class="version-history" id="version-history">
                                <table aria-label=""
                                   class="table borderless">
                                   <thead>
                                      <tr>
                                         <th scope="col">Version</th>
                                         <th scope="col">Release Date</th>
                                      </tr>
                                   </thead>
                                   <tbody class="no-border">

                                     {{ $p := . }}
                                      {{ range  (sort $releases ".releasehDate" "desc") }}

                                      <tr class="bg-info">
                                         <td>
                                            <a href="{{ $p.Parent.Page.RelPermalink }}{{ .id }}/" title="{{.version}}">
                                            {{.version}}
                                            </a>
                                         </td>
                                         <td tabindex="0">
                                            <span data-datetime="2022-02-28T09:13:54.5200000">{{.releasehDate  | time.Format ":date_long" }}</span>
                                         </td>
                                      </tr>
                                      {{ end }}
                                   </tbody>
                                </table>
                             </div>
                          </div> <!-- end of version-history -->

                          {{ $p := . }}
                           {{ range  first 1 (where $releases ".id" $p.File.TranslationBaseName) }}
                          <div role="tabpanel" class="tab-pane" id="releasenotes-tab">
                                   <div class="readme-common">

                                  {{ if .ReleaseNotes }}
                                      <div id="readme-container">
                                         <p> </br> <a href="{{.ReleaseNotes}}" title="{{$p.Parent.Title}} {{.version}} Release Notes">
                                          {{$p.Parent.LinkTitle}} for Java {{.version}} Release Notes
                                           </a></p>
                                      </div>
                                    {{ end }}
                                   </div>
                                </div> <!-- end of releasenotes-tab -->
                          {{ end }}


                          {{ $p := . }}
                           {{ range  first 1 (where $releases ".id" $p.File.TranslationBaseName) }}
                          <div role="tabpanel" class="tab-pane" id="packageexplorer-tab">
                                      <div class="version-history" id="package-history">
                                         <table aria-label=""
                                            class="table borderless">
                                            <thead>
                                               <tr>
                                                  <th scope="col">File</th>
                                                  <th scope="col">Classifier</th>
                                                  <th scope="col">Size</th>
                                               </tr>
                                            </thead>
                                            <tbody class="no-border">

                                              {{ $pp := . }}
                                               {{ range .packageFiles }}

                                               <tr class="bg-info">
                                                  <td>
                                                     <a href="https://releases.aspose.com/java/repo/com/aspose/{{$pp.artifactId }}/{{ $pp.version }}/{{.name}}" title="{{.name}}">
                                                     {{.name}}
                                                     </a>
                                                  </td>
                                                  <td tabindex="0">
                                                     <span data-datetime="">{{.classifier}}</span>
                                                  </td>

                                                  <td tabindex="1">
                                                     <span data-datetime="">{{.size}}</span>
                                                  </td>

                                               </tr>
                                               {{ end }}
                                            </tbody>
                                         </table>
                                      </div>
                                </div> <!-- end of releasenotes-tab -->
                          {{ end }}

      </div> <!-- end of body-tab-content -->

      <hr>

      {{ $p := . }}
       {{ range  first 1 (where $releases ".id" $p.File.TranslationBaseName) }}

          {{ if $p.Parent.Keywords }}
          <div class="tagwrapper"><p>
                     {{ range $p.Parent.Keywords }}
                      <a href="https://search.aspose.com/q/{{ lower  (replace . " " "-") }}.html" title="Search for docx">{{.}}</a>
                    {{ end }}
            </p></div>

            {{ end }}
      {{ end }}

<!--
      <div class="tagwrapper"><p><a target="_blank" href="https://search.aspose.com/q/doc-to-bmp.html">doc-to-bmp</a>
      <a target="_blank" href="https://search.aspose.com/q/doc-to-emf.html">doc-to-emf</a>
      <a target="_blank" href="https://search.aspose.com/q/doc-to-html.html">doc-to-html</a>
      <a target="_blank" href="https://search.aspose.com/q/doc-to-jpeg.html">doc-to-jpeg</a>
      <a target="_blank" href="https://search.aspose.com/q/doc-to-pdf.html">doc-to-pdf</a>
      <a target="_blank" href="https://search.aspose.com/q/doc-to-png.html">doc-to-png</a>
      <a target="_blank" href="https://search.aspose.com/q/doc-to-postscript.html">doc-to-postscript</a>
      <a target="_blank" href="https://search.aspose.com/q/doc-to-ps.html">doc-to-ps</a>
      <a target="_blank" href="https://search.aspose.com/q/docx-to-epub.html">docx-to-epub</a>
      <a target="_blank" href="https://search.aspose.com/q/docx-to-gif.html">docx-to-gif</a>
      <a target="_blank" href="https://search.aspose.com/q/docx-to-html.html">docx-to-html</a>
      <a target="_blank" href="https://search.aspose.com/q/docx-to-markdown.html">docx-to-markdown</a>
      <a target="_blank" href="https://search.aspose.com/q/docx-to-md.html">docx-to-md</a>
      <a target="_blank" href="https://search.aspose.com/q/docx-to-mhtml.html">docx-to-mhtml</a>
      <a target="_blank" href="https://search.aspose.com/q/docx-to-pcl.html">docx-to-pcl</a>
      <a target="_blank" href="https://search.aspose.com/q/docx-to-pdf.html">docx-to-pdf</a>
      <a target="_blank" href="https://search.aspose.com/q/word-to-bmp.html">word-to-bmp</a>
      <a target="_blank" href="https://search.aspose.com/q/word-to-emf.html">word-to-emf</a>
      <a target="_blank" href="https://search.aspose.com/q/word-to-epub.html">word-to-epub</a>
      <a target="_blank" href="https://search.aspose.com/q/word-to-gif.html">word-to-gif</a>
      <a target="_blank" href="https://search.aspose.com/q/word-to-html.html">word-to-html</a>
      <a target="_blank" href="https://search.aspose.com/q/word-to-jpeg.html">word-to-jpeg</a>
      <a target="_blank" href="https://search.aspose.com/q/word-to-markdown.html">word-to-markdown</a>
      <a target="_blank" href="https://search.aspose.com/q/word-to-md.html">word-to-md</a>
      <a target="_blank" href="https://search.aspose.com/q/word-to-mhtml.html">word-to-mhtml</a>
      <a target="_blank" href="https://search.aspose.com/q/word-to-pcl.html">word-to-pcl</a>
      <a target="_blank" href="https://search.aspose.com/q/word-to-pdf.html">word-to-pdf</a>
      <a target="_blank" href="https://search.aspose.com/q/word-to-png.html">word-to-png</a>
      <a target="_blank" href="https://search.aspose.com/q/word-to-postscript.html">word-to-postscript</a>
      <a target="_blank" href="https://search.aspose.com/q/word-to-ps.html">word-to-ps</a></p></div>
-->

  </div> <!-- end of package-details-main -->



<!--
   {{ $p := . }}
    {{ range  first 1 (where $releases ".id" $p.File.TranslationBaseName) }}
          <aside aria-label="Package details info" class="col-sm-3 package-details-info">
          <div class="sidebar-section">
          <div class="sidebar-section">
             <div class="sidebar-headers">About</div>
             <ul class="list-unstyled ms-Icon-ul sidebar-links">
                <li>
                   <i class="fa fa-history" aria-hidden="true"></i>

                   {{ $ageDays := div (sub now.Unix .releasehDate.Unix) 86400 }}
                   {{ $ageMonths := div (sub now.Unix .releasehDate.Unix) 2592000 }}


                   {{ if eq $ageDays 0 }}

                       <span>Published today.</span>


                   {{ else if lt $ageDays 31 }}

                       <span>Published {{ $ageDays }}
                           {{ cond (eq $ageDays 1) "day" "days"}}
                           ago.</span>


                   {{ else }}

                       <span>Published {{ $ageMonths }}
                           {{ cond (eq $ageMonths 1) "month" "months" }}
                           ago.</span>

                   {{ end }}

                </li>
                <li>
                   <i class="fa fa-globe" aria-hidden="true"></i>
                   <a href="{{ $p.Parent.Params.productLink}}" data-track="outbound-project-url"
                      title="Visit the project site to learn more about this package" rel="nofollow">
                   Product website
                   </a>
                </li>

                <li class="report-link">
                   <i class="fa fa-flag" aria-hidden="true"></i>
                   <a href="{{ $p.Parent.Params.forumLink}}"
                      title="Report the package as abusive">
                   Report an issue
                   </a>
                </li>
             </ul>
          </div>

          <div class="sidebar-section">
             <ul class="list-unstyled owner-list">
                <li>
                   <a href="/" title="Releases Home">
                   <img src="/res_repo/img/groupdocsprofile.png" width="32" />
                   </a>
                   <a href="/" title="Releases Home">
                   Releases Home
                   </a>
                </li>
             </ul>
          </div>

          {{ if $p.Parent.Keywords }}
          <p>
                     {{ range $p.Parent.Keywords }}
                      <a href="https://search.groupdocs.cloud/q/{{ lower  (replace . " " "-") }}.html" title="Search for docx">{{.}}</a>
                    {{ end }}
            </p>

        {{ end }}


          <p>&copy; Groupdocs 2002-{{now.Year}}. All Rights Reserved.</p>
       </aside>
       {{ end }}
-->

          </div></section>

{{ end }}
