{{ define "main" }}

<div itemprop="articleBody">
  <p></p>
  <div class="smaller text-center header-bg">
    <h1 class="mt-5 pt-4 font-40 pb-1 font-b text-white">
      {{ if not (eq .Params.hide_release_icon "yes") }}
      <i class="fa fa-inbox fa-2x">&nbsp; </i>
      {{ end }}
      <br />
      &nbsp;New Releases
    </h1>
    <h4 class="font-20 font-m text-white pb-4 text-center">
      {{ .Params.h4_text}}
    </h4>
  </div>

  <div class="contentlist pt-3 pb-3">
    <div class="container">
      <div class="row">
        {{ $counter := 0 }}
        {{ $translated_title := i18n "Product_Family" }}
        {{ range .Site.Sections }}
        {{- $.Scratch.Set "IsCurrentSection" .CurrentSection -}}
             {{ if not (eq .Params.hide_homepage "yes") }}

                <div class="{{if not (modBool $counter 2)}} col-md-5 offset-md-1 pt-3 pb-3 mt-2 mb-2 pr-boxlist {{else}} col-md-5 pt-3 pb-3 mt-2 mb-2 pr-boxlist {{end}} ">
                    <div class="productheading d-flex align-item-center justify-content-center" >
                        <div class="col-md-2 p-0 text-center">
                            <img src="{{ .Params.homepage_github_image}}" />
                        </div>
                        <div class="col-md-10 p-0 align-item-center justify-content-center d-flex flex-column">
                        <h3 class="font-20 font-b text-black m-0 pl-1">
                            <!-- Aspose.Total <span class="d-block col-md-12 p-0 font-14 mt-2 font-m">Product Family</span> -->
                            {{ replace .Params.family_listing_page_title $translated_title "" }} <span class="d-block col-md-12 p-0 font-14 mt-2 font-m">{{ i18n "Product_Family" }}</span>

                        </h3>
                        </div>
                    </div>
                    <ul class="productlistingbox">
                        {{ range (where ( where .Site.Pages "Section" .Section) ".Params.page_type" "!=" "single_release_page")  }}

                        {{ if and (eq .Params.type "repository") ( or (eq .Params.layout "releases") (eq .Params.layout "release") (eq .Params.layout "package") ) }}

                        {{else}}

                        {{- if not (eq ($.Scratch.Get "IsCurrentSection") .CurrentSection ) -}}

                            {{ if not (eq .Params.hide_homepage "yes") }}
                            <li>
                            {{ .Params.family_listing_page_title}}
                            <span class="list-links">
                                <a href="{{ .Permalink }}">{{ i18n "Releases" }}</a>
                                {{ if isset .Params "homepage_package_type" }}
                                |
                                <a href="{{ .Params.homepage_package_link}}">{{ .Params.homepage_package_type}}</a>
                                {{end}}
                            </span>
                            </li>
                            {{ end }}
                        {{ end }}
                        {{ end }} {{/* end of top if else */}}
                        {{ end }} {{/* end of range */}}
                    </ul>
                 </div>
                 {{ $counter = add $counter 1 }}
             {{ end }}

        {{ end }}
      </div>
    </div>
  </div>
  <p></p>
</div>

{{ end }}
